* {
padding:0;
margin:0;
border:0;
}

html {
	font-family: varela round;
	-webkit-text-size-adjust: 100%;
      -ms-text-size-adjust: 100%;
}


body{
	background-color: #30475e;
}	

#caixa{

	background-color: white;
	text-align: center;
	padding: 10px;
	border-radius: 20px;
	
	margin: auto;
	margin-top:180px;
	width: 70%;

}

img {
	height: auto;
	width: 40%;
	margin-bottom: 30px;
 	display: inline-block;
 	margin-top: 20px;
}

span{
	text-align: center;
  	display:block;
  	margin-bottom: 20px;
  	font-size: 20px;
}