/*referencias e configs principais*/
:root {
	font-size: 16px;
	font-family: 'Varela Round';
	--text-primary: #b6b6b6;
	--text-secondary: #ececec;
	--bg-primary: #222831;
	--bg-secondary: #00FFBB;
	--transition-speed: 600ms;
}

* {
padding:0;
margin:0;
border:0;
}

html {
	font-family: varela round;
	-webkit-text-size-adjust: 100%;
      -ms-text-size-adjust: 100%;
}

body{
	background-color: #30475e;
}

/*referencias e configs principais*/



/*botao voltar*/


.invisible{
	 visibility: visible !important;
}

.visible{
	 visibility: hidden !important;
}
/*botao voltar*/

#titulo{
	margin: 0;
	padding: 0;
	padding-top: 80px;
	text-align: center;
	color: white;
	font-size: 40px;
	font-family: 'Varela Round';
}

/* unvisited link */
#titulo a:link {
  color: white;
  text-decoration: none;
}

/* visited link */
#titulo a:visited {
  color: white;
  text-decoration: none;
}

/* mouse over link */
#titulo a:hover {
  color: white;
  text-decoration: none;
}

/* selected link */
#titulo a:active {
  color: white;
  text-decoration: none;
}
/*lista*/

#caixa{
	min-height: 470px;
	text-align: left;
  	width: 70%;
	bottom: -100px;
  	padding: 10px;
  	padding-top: -20px;
	background-color: white;
	border-radius: 20px;
	overflow: hidden;
	position: relative;
	margin: auto;
	height: auto;

}

#alterar{
	color:white;
	background-color: orange;
	float:left;
	width: 40%;
	margin-left: 20px;
}

#excluir{
	color:white;
	background-color: red;
	float: right;
	width: 40%;
	margin-right: 20px;
}


#instrumentos, #estilo{
	width: 100%;
	
}

#tooltip-localizacao{
	margin-top: 30px;
}


@media only screen and (max-width: 479px) {
	.invisible{
		visibility: hidden !important;
	}
	
	.visible{
		visibility: visible !important;
	}
	
	main {
		margin-left: 0;
	}
	/* 
	#titulo{
		
		width: 100%;
		margin: 0;
		padding-top: 20px;
		padding-bottom: 20px;
	}
	 */
	#voltar{
		display: none;
	} 
	
	#voltar_mobile{
	float: left;
	text-decoration: none;
	margin-left: 10px;
	margin-right: -30px;
	padding-left: 20px;
	}
	 
	#titulo{
		padding-top: 30px;
		padding-bottom: 0px;
		text-align: center;
	}
	 
	#caixa{
		bottom: 0;
		width: 100%;
		border-radius: 0;
	}
}