/*referencias e configs principais*/
:root {
	font-size: 16px;
	font-family: 'Varela Round';
	--text-primary: #b6b6b6;
	--text-secondary: #ececec;
	--bg-primary: #222831;
	--bg-secondary: #00FFBB;
	--transition-speed: 600ms;
}

* {
box-sizing: border-box;
padding:0;
margin:0;
border:0;

}

.container {
  width: 100%;
  height: auto;
  margin: auto;
  padding: 10px;
}

.esquerda {
  width: 50%;
  height: 200px;
  float: left;

}

.direita {
	
  margin-left: 15%;
  height: 200px;

}


html {
	font-family: varela round;
	-webkit-text-size-adjust: 100%;
      -ms-text-size-adjust: 100%;
}

body{
	background-color: #30475e;
}

input, button, submit { border:none; } 

a{
	color: white;
	text-decoration: none;
}

/* unvisited link */
a:link {
  color: white;
  text-decoration: none;
}

/* visited link */
a:visited {
  color: white;
  text-decoration: none;
}

/* mouse over link */
a:hover {
  color: white;
  text-decoration: none;
}

/* selected link */
a:active {
  color: white;
  text-decoration: none;
}

/*referencias e configs principais*/

main {
	margin-left: 5rem;
}

#perfil{
	height: auto;
}

#titulo{
	margin: 0;
	padding-top: 80px;
	padding-bottom: 80px;
	text-align: center;
	color: #ffffff;
	font-size: 40px;
}

/*botao voltar*/
.invisible{
	 visibility: visible !important;
}

.visible{
	 visibility: hidden !important;
}


#voltar{
	margin-right:-40px;
	color:black;
	margin-top: 10px;
	float: left;
	text-decoration: none;
}


/*botao voltar*/

/*caixa que envolve todo o perfil*/
#caixa{
	overflow: hidden;
	background-color: white;
	text-align: center;
	padding: 10px;
	border-radius: 20px;
	margin: auto;
	width: 60%;
	height: auto;
	
}

/*caixa que envolve todo o perfil*/

/*imgaem do perfil*/
#img{
	float: right;
	top: -9999px;
	left: -9999px;
	right: -9999px;
	bottom: -9999px;
	height: 200px;
	margin: auto;
}
/*imgaem do perfil*/


#flutuar{
	margin-left: -20px;
	float: left;
	text-decoration: none;
	list-style-type: none;
}

/*nome*/
#nome{
	font-size: 40px;
	float: left;
	text-align: left;
	max-width: 800px;
	word-wrap: break-word;
	margin-bottom: 20px;
	
	
}

/*nome*/

#grupo{
	width: 100%;
}

/*nota*/
#gnota {
	width: 100%;
	float: left;
	text-align: left;
}

#nota{
	font-size: 25px;
	font-weight: bold;
}
/*nota*/

/*social*/
#gsocial{
	float: left;
	margin: 10px;	
}

.social{
	max-height: 20px;
}
/*social*/

/*chat*/
#chat{
	width: 30%;
}

#btn_chat{
	color: white;
	float: rigth;	

}

#btn_chat:link {
	color: white;
	text-decoration: none;
}

/* visited link */
#btn_chat:visited {
	color: white;
	text-decoration: none;
}

/* mouse over link */
#btn_chat:hover {
	color: white;
	text-decoration: none;
}

/* selected link */
#btn_chat:active {
	color: white;
	text-decoration: none;
}

/*chat*/


/*descricao*/
#descricao{
	margin-top: 10px;
	width: 100%;
	float: left;
	font-size: 20px;
	text-align: left;
	white-space: pre-wrap;      /* CSS3 */   
	white-space: -moz-pre-wrap; /* Firefox */    
	white-space: -pre-wrap;     /* Opera <7 */   
	white-space: -o-pre-wrap;   /* Opera 7 */    
	word-wrap: break-word;      /* IE */
}
/*descricao*/

/*instrumentos*/
#instrumentos{
	float: left;
	margin-bottom: 10px;
	width: 100%;
}

#tag_instrumentos{
	text-align: left;
	display: block;
	float: left;
	width: 100%;
	height: auto;
}

#texto_instrumentos{
	float: left;
	display: block;
}
/*instrumentos*/

/*disponibilidade*/

#Disponibilidade{
	margin-top: -10px;
	float: left;
	width: 100%;
	text-align: left;
}

#disp{
	margin-top: 20px;
	height: 422px;
	width: 450px;
	max-height: 422px;
	max-width: 450px;
}

#dis{
	margin-right: 400px;
}
/*disponibilidade*/



#flutuar_d{
	margin-top: 20px;
	float: right;
	width:60%;
	text-decoration: none;
	list-style-type: none;
}

/*analises*/
#analises{
	float: left;
	text-align: left;
	width: 100%;
}


#banalise{
	width: 100%;
}


#btn_analises{
	margin-left: 36px;
	width: 13%;
}
/*analises*/


/* localizacao */
#localizacao{
	width: 100%;
	float: left;
}

#gMaps{
	
	float: left;
	text-align: left;
}

#texto_localizacao{
	margin-top: 10px;
	width: 100%;
	float: left;
	text-align: left;
	margin-right: 20px;
	
}

#end{
	border-radius: 5px;
	margin-top: 20px;
	height: 400px;
	width: 500px;;
	max-height: 400px;
	max-width: 500px;
}
/* localizacao */



@media only screen and (max-width: 479px) {
	.invisible{
		visibility: hidden !important;
	}
	
	.visible{
		visibility: visible !important;
	}
	
	
	main {
		margin-left: 0;
	}
	
	
	.container {
		width: 100%;
		height: auto;
		margin: auto;
		padding: 10px;
	}

	.esquerda {
		width: 100%;
		height: auto;
		float: none;
	
	}
		
	.direita {
		width: 100%;
		margin-left: 0%;
		height: auto;
		float:none;
		margin-top: 220px;
		
	}
	
	
	#voltar_mobile{
	position: absolute;
	color:white;
	margin-left:20px;
	margin-top: 40px;
	float: left;
	text-decoration: none;
	}
	
	#titulo{
		padding-top: 30px;
		padding-bottom: 0px;
		color: black;
		text-align: center;
	}
	
	#caixa{
		width: 100%;
		margin-top: 20px;
	}
	
	#img {
		display: none;
	}
	
	ul{
		width: 100%;
    	margin: auto;
	}
	
	#flutuar {
		text-align: center;
		margin-left: 0;
		float: none;
		text-decoration: none;
		list-style-type: none;
	}
	
	
	
	#nome{
		
		font-size: 40px;
		float: none;
		text-align: center;
		width: auto;
		margin-bottom: 20px;
		
	}
	#nome-span{
		text-align: center;
		width: auto;
	}
	
	#grupo{
		text-align: center
	}
	
	#gnota{
		margin-left: 20px;
		width: 50%;
	}
	
	#gsocial{
		width: 30%;
		margin: 5px 10px;
	}
	
	#chat{
		float: right;
		width: 100%;
	}
	
	#btn_chat{
		margin-top: 10px;
		width: 100%;
	}
	
	#descricao{
		width: 100%;
	}
	
	#Disponibilidade{
		width: 100%;
		text-align: center;
	}
	
	#disp{
		display: none;
	}
	
	#disp_mobile{
		width: 320px;
		float: left;
		text-align: center;
		
	}
	
	#btn_c{
		width: 100%;
	}
	
	.btn btn-primary collapsed{
		width: 100%;
	}
	
	#disp_c_mobile{
		height: 400px;
		width: 300px;
	}
	
	#flutuar_d{
		float: left;
	}
	
	#analises{
		text-align: center;
		width: 320px;
		float: none;
	}
	
	#banalise{
		text-align: center;
		width: 320px;
		float: none;
	}
	
	#btn_analises{
		margin-top: 0;
		width: 50%;
		margin-left:0 ;
	}
	
	#gMaps{
		margin-top: 20px;
		text-align: center;
		width: 320px;
		float: none;
	}
	
	#texto_localizacao{
		margin-left: -20px;
		height: 400px;
		width: 60px;
	}
}
