/*referencias e configs principais*/
:root {
	font-size: 16px;
	font-family: 'Varela Round';
	--text-primary: #b6b6b6;
	--text-secondary: #ececec;
	--bg-primary: #222831;
	--bg-secondary: #00FFBB;
	--transition-speed: 600ms;
}
/*referencias e configs principais*/



body {
	color: white;
	background-color: #30475e;
	margin: 0;
	padding: 0;
}

/*barra de rolagem*/
body::-webkit-scrollbar {
	width: 1rem;
}

body::-webkit-scrollbar-track {
	background: #222831;
}

body::-webkit-scrollbar-thumb {
	background: #FFAB6B;
}
/*barra de rolagem*/

/*margem pra desconsiderar o menu lateral nos calculos dos outros itens no site */
main {
	margin-left: 5rem;
}
/*margem pra desconsiderar o menu lateral nos calculos dos outros itens no site */

input, button, submit { border:none; } 

.navbar-maestrino button{
	width: 100%;
	border: none;
	background: none;
	
}

.navbar-maestrino button span{
	font-size: 25px;
	font-family: 'Varela Round';
}

/*configs barra lateral*/
.navbar-maestrino {
	z-index: 9999;
	width: 5rem;
	height: 100vh;
	position: fixed;
	background-color: var(--bg-primary);
	transition: width 200ms ease;
}

.navbar-nav{
	list-style: none;
	padding: 0;
	margin:0;
	display: flex;
	flex-direction: column;
	align-items: center; 
}

.nav-item{
	width: 100%;
}


.nav-link {
	display: flex;
	align-items: center;
	height: 5rem;
	color: var(--text-primary);
	text-decoration: none;
	filter: grayscale(100%) opacity(0.7);
	transition: var(--transition-speed);
}

.nav-link:hover{
	filter: grayscale(0%) opacity(1);
	background: #FFAB6B;
	color: white;
}


.link-text {
	font-family: 'Varela Round';
	font-size: 20px;
	display: none;
	margin-left: 1rem;
	white-space: nowrap;
	overflow: hidden;
	max-width: 200px;
}

.link-text-p {
	display: none;
	margin-left: 1rem;
}

.nav-link img{
	width: 2rem;
	min-width: 2rem;
	margin: 0 1.5rem;
}

.nav-link svg{
	width: 2rem;
	min-width: 2rem;
	margin: 0 1.5rem;
}


.navbar-maestrino:hover{
	width: 16rem;
}

.navbar-maestrino:hover .link-text{
	display: block;
}

.navbar-maestrino:hover .link-text-p{
	display: block;
}


.fa-primary{
	color: #ff7eee;
}


.fa-secondary{
	color: #00b38f;
}

.fa-primary,
.fa-secondary{
	transition: var(--transition-speed);
}


.logo{
	font-weight: bold;
	text-transform: uppercase;
	margin-bottom: 1rem;
	text-align: center;
	color: var(--text-secondary);
	background: var(--bg-primary);
	font-size: 1.5rem;
	letter-spacing: 0.3ch; 
	width: 100%;
}

.logo img{
	height: 2.5rem;
	width: 4.5rem;
	transform: rotate(0deg);
	transition: transform var(--transition-speed);
}

.logo svg{
	height: 2.5rem;
	width: 4.5rem;
	transform: rotate(0deg);
	transition: transform var(--transition-speed);
}

.navbar-maestrino:hover .logo img {
	transform: rotate(-360deg);
}


/*configs barra lateral*/

#titulo{
	margin: 0;
	padding-bottom: 80px;
	text-align: center;
	color: white;
	font-size: 40px;
	font-family: 'Varela Round';
}

#caixa{

	background-color: white;
	text-align: center;
	padding: 10px;
	border-radius: 20px;
	margin: auto;
	width: 70%;
	height: auto;
}

/* barra de pesquisa*/
#pesquisa{
	overflow: hidden;
	margin-left: 40px;
	font-size: 1em;
	background-color: #CCC;
	padding:8px;
	padding-left: 20px;
	border-radius: 20px;
	width:90%;
	height: auto;
}

#buscar {
	width: 90%;
	float: left;
	text-align: left;
	border: none;
	border: 0;
	font-size: 1em;
	background-color: #CCC;
	padding-left: 20px;
}

#buscar:focus{
	outline: none;
	border-bottom: 1px solid;
}

#click-buscar{
	padding-bottom: 5px;
	float: rigth;
	height: 30px;
	width: auto;
}

#mais{
	margin-top:-10px;
	font-size: 14px;
	float:left;
	color:grey;
	font-weight: bold;
	padding-left: 20px;
	cursor: pointer;
}

#pesquisaAvancada {
	display: none;
}


/* barra de pesquisa*/

/*filtro principal*/
#filtro_Principal {
	height: auto;
	width: 110%;
	margin: auto;

	
}


#filtro_Estudio, #filtro_Luthier, #filtro_todos{
	margin: 10px 1px;
	border-radius: 15px;
	background-color: black;
	height: 100px;
	padding: 0 150px; 
	text-align: center;

}

.filtro {

	border: none;
	background: none;
	background-color: white;
}




#filtro_Principal p{
	padding-top: 50px;
	color: white;
	font-family: 'Varela Round';
	font-weight: bold;
	font-size: 20px;
}
/*
#filtro_Estudio, #filtro_Luthier span{
	position:absolute;                  
	bottom:0;                          
	left:0; 
}*/

#filtro_todos{
	background: url("../images/bg_guitar.jpg");
	background-size: 100%;
}


#filtro_Estudio{
	background: url("../images/bg_guitar.jpg");
	background-size: 100%;
}

#filtro_Luthier{
	background: url("../images/bg_guitar.jpg");
	background-size: 100%;
}



form-estudio{
	float: left;
}

form-luthier{
	float: right;
}

/*filtro principal*/

/*lista*/
#listausuarios{
	text-align: left;
	margin-left: 4%;
	background-color: #30475e; 
	height: auto;
	width: 90%;
  	padding: 10px;
	border-radius: 20px;
	overflow: hidden;
	position: relative;
	color: black;
	margin-bottom: 20px;
}

/*img perfil*/
#imgCover{
	top: 100px;
	right: 120px;
	height: auto;
	width: 45%;
	position: relative;
}

#img{
	float: left;
	position: absolute;
	top: -9999px;
	left: -9999px;
	right: -9999px;
	bottom: -9999px;
	height: 300px;
	margin: auto;
	padding-right:100px;
	padding-top: 40px;
}
/*img perfil*/

#nome{
	color: white;
	margin-left: 250px;
	float: left;
	font-size: 2em;
	display:block;
	text-align: left;
	margin-bottom: 5px;
}

#tipoUsuario{
	color: white;
	float: left;
	display:block;
	clear: left;
	margin-left: 250px;
	margin-bottom: 10px;
}

#nota{
	color:white;
	margin-top: 60px;
	float: left;
	margin-left: 250px;
	clear: left;
	display: block;
	font-size: 30px;
}


#descricao{
	color: white;
	float: left;
	display:block;
	clear: left;
	margin-left: 250px;
}

#sobre a{
	text-decoration: none;
	border-style: none;
	background-color: #f2a365;
	float: right;
	display:block;
	color: white;
	margin: 20px 60px ;
	font-size: 40px;
	border-radius: 10px;
	padding: 10px 20px;
}


/* unvisited link */
a:link {
  color: white;
  text-decoration: none;
}

/* visited link */
a:visited {
  color: white;
  text-decoration: none;
}

/* mouse over link */
a:hover {
  color: white;
  text-decoration: none;
}

/* selected link */
a:active {
  color: white;
  text-decoration: none;
}
/*lista*/

.invisible{
	visibility: visible !important;
}

.visible{
	visibility: hidden !important;
}


@media only screen and (max-width: 479px) {
	.invisible{
		visibility: hidden !important;
	}
	
	.visible{
		visibility: visible !important;
	}
	
	main {
		margin-left: 0;
	}
	/* 
	#titulo{
		
		width: 100%;
		margin: 0;
		padding-top: 20px;
		padding-bottom: 20px;
	}
	 */
	#titulo{
		display: none;
	} 
	 
	#caixa{

		width: 100%;
		border-radius: 0;
	}
	
	#pesquisa{
		width: 100%;
		margin-left: 0;
		margin-bottom: 10px;
		
	}
	
	#pesquisaAvancada{
		float: left;
	}
	
	#listausuarios{
		margin-left: 5%;
		
	}
	
	#filtro_Principal {
		display: none;	
	}
	
	#img{
		display: none;
	}
	
	#nome, #tipoUsuario, #nota, #descricao{
		width: 100%;
		margin-left: 0;
	}
	
	#descricao{
		white-space: nowrap;
		overflow: hidden;
		max-width: 180px;
		  text-overflow: ellipsis;
		
	}
	
	#nota{
		margin-top: 10px;
		width: 100%;
		margin-bottom: 20px;
	}
	
	#nota svg{
		width: 0.5em;
		height: 1.2em;
	}
	
	#valor-nota{
		font-size: 25px;
	}
	
	#sobre a{
		margin: 0;
		width: 100%;
		text-align: center;
	}
	
	#titulo-menu{

		font-family: 'Varela Round';
		color: white;
		margin-left: 60px;
		text-align: center;
		font-size: 30px;
		display: block;	
		float: right;
		position: absolute;
	}
		/* Icon 1 */
	
	.animated-icon1, .animated-icon2, .animated-icon3 {
	width: 30px;
	height: 20px;
	position: relative;
	margin: 0px;
	-webkit-transform: rotate(0deg);
	-moz-transform: rotate(0deg);
	-o-transform: rotate(0deg);
	transform: rotate(0deg);
	-webkit-transition: .5s ease-in-out;
	-moz-transition: .5s ease-in-out;
	-o-transition: .5s ease-in-out;
	transition: .5s ease-in-out;
	cursor: pointer;
	}
	
	.animated-icon1 span, .animated-icon2 span, .animated-icon3 span {
	display: block;
	position: absolute;
	height: 3px;
	width: 100%;
	border-radius: 9px;
	opacity: 1;
	left: 0;
	-webkit-transform: rotate(0deg);
	-moz-transform: rotate(0deg);
	-o-transform: rotate(0deg);
	transform: rotate(0deg);
	-webkit-transition: .25s ease-in-out;
	-moz-transition: .25s ease-in-out;
	-o-transition: .25s ease-in-out;
	transition: .25s ease-in-out;
	}
	
	.animated-icon1 span {
	background: #FFAB6B;
	}
	
	.animated-icon2 span {
	background: #e3f2fd;
	}
	
	.animated-icon3 span {
	background: #f3e5f5;
	}
	
	.animated-icon1 span:nth-child(1) {
	top: 0px;
	}
	
	.animated-icon1 span:nth-child(2) {
	top: 10px;
	}
	
	.animated-icon1 span:nth-child(3) {
	top: 20px;
	}
	
	.animated-icon1.open span:nth-child(1) {
	top: 11px;
	-webkit-transform: rotate(135deg);
	-moz-transform: rotate(135deg);
	-o-transform: rotate(135deg);
	transform: rotate(135deg);
	}
	
	.animated-icon1.open span:nth-child(2) {
	opacity: 0;
	left: -60px;
	}
	
	.animated-icon1.open span:nth-child(3) {
	top: 11px;
	-webkit-transform: rotate(-135deg);
	-moz-transform: rotate(-135deg);
	-o-transform: rotate(-135deg);
	transform: rotate(-135deg);
	}
	
	/* Icon 3*/
	
	.animated-icon2 span:nth-child(1) {
	top: 0px;
	}
	
	.animated-icon2 span:nth-child(2), .animated-icon2 span:nth-child(3) {
	top: 10px;
	}
	
	.animated-icon2 span:nth-child(4) {
	top: 20px;
	}
	
	.animated-icon2.open span:nth-child(1) {
	top: 11px;
	width: 0%;
	left: 50%;
	}
	
	.animated-icon2.open span:nth-child(2) {
	-webkit-transform: rotate(45deg);
	-moz-transform: rotate(45deg);
	-o-transform: rotate(45deg);
	transform: rotate(45deg);
	}
	
	.animated-icon2.open span:nth-child(3) {
	-webkit-transform: rotate(-45deg);
	-moz-transform: rotate(-45deg);
	-o-transform: rotate(-45deg);
	transform: rotate(-45deg);
	}
	
	.animated-icon2.open span:nth-child(4) {
	top: 11px;
	width: 0%;
	left: 50%;
	}
	
	/* Icon 4 */
	
	.animated-icon3 span:nth-child(1) {
	top: 0px;
	-webkit-transform-origin: left center;
	-moz-transform-origin: left center;
	-o-transform-origin: left center;
	transform-origin: left center;
	}
	
	.animated-icon3 span:nth-child(2) {
	top: 10px;
	-webkit-transform-origin: left center;
	-moz-transform-origin: left center;
	-o-transform-origin: left center;
	transform-origin: left center;
	}
	
	.animated-icon3 span:nth-child(3) {
	top: 20px;
	-webkit-transform-origin: left center;
	-moz-transform-origin: left center;
	-o-transform-origin: left center;
	transform-origin: left center;
	}
	
	.animated-icon3.open span:nth-child(1) {
	-webkit-transform: rotate(45deg);
	-moz-transform: rotate(45deg);
	-o-transform: rotate(45deg);
	transform: rotate(45deg);
	top: 0px;
	left: 8px;
	}
	
	.animated-icon3.open span:nth-child(2) {
	width: 0%;
	opacity: 0;
	}
	
	.animated-icon3.open span:nth-child(3) {
	-webkit-transform: rotate(-45deg);
	-moz-transform: rotate(-45deg);
	-o-transform: rotate(-45deg);
	transform: rotate(-45deg);
	top: 21px;
	left: 8px;
	}
	
	.navbar-light .navbar-brand{
		color: white;
	}
	
	
	
	.navbar-light .navbar-brand:focus, .navbar-light .navbar-brand:hover{
		color: white;
	}	
	
	.navbar-light .navbar-nav .nav-link{
		color: white;
	}
	
	.navbar-light .navbar-nav .active>.nav-link, .navbar-light .navbar-nav .nav-link.active, .navbar-light .navbar-nav .nav-link.show, .navbar-light .navbar-nav .show>.nav-link{
		color: white;
	}
	
	.navbar-light .navbar-nav .nav-link:hover{
		color: white;
	}
	
	.nav-link:hover{
		width: 100%;
	}
	
	.nav-item{
		width: 100%;
		
	}
		
	.nav-link {
		display: flex;
		align-items: center;
		height: 3rem;
		color: var(--text-primary);
		text-decoration: none;
		filter: grayscale(100%) opacity(0.7);
		transition: var(--transition-speed);
	}
	
	.nav-link:hover{
		filter: grayscale(0%) opacity(1);
		background: #FFAB6B;
		color: white;
	}
	
	.navbar .navbar-light .amber .lighten-4 .mb-4{
		width: 100%;
		outline: none;
	}
	
	button{
	width: 328px;
	background: none;
	color: inherit;
	border: none;
	padding: 0;
	font: inherit;
	cursor: pointer;
	outline: inherit;
	}
		
}

