/*referencias e configs principais*/
:root {
	font-size: 16px;
	font-family: 'Varela Round';
	--text-primary: #b6b6b6;
	--text-secondary: #ececec;
	--bg-primary: #222831;
	--bg-secondary: #00FFBB;
	--transition-speed: 600ms;
}
/*referencias e configs principais*/


body {
	color: white;
	background-color: #30475e;
	margin: 0;
	padding: 0;
}

/*barra de rolagem*/
body::-webkit-scrollbar {
	width: 0.30rem;
}

body::-webkit-scrollbar-track {
	background: #312F2F;
}

body::-webkit-scrollbar-thumb {
	background: #312F2F;
}
/*barra de rolagem*/

/*margem pra desconsiderar o menu lateral nos calculos dos outros itens no site */
main {
	margin-left: 5rem;
}
/*margem pra desconsiderar o menu lateral nos calculos dos outros itens no site */


/*configs barra lateral*/
.navbar {
	z-index: 9999;
	width: 5rem;
	height: 100vh;
	position: fixed;
	background-color: var(--bg-primary);
	transition: width 200ms ease;
}

.navbar-nav{
	list-style: none;
	padding: 0;
	margin:0;
	display: flex;
	flex-direction: column;
	align-items: center; 
}

.nav-item{
	width: 100%;
}


.nav-link {
	display: flex;
	align-items: center;
	height: 5rem;
	color: var(--text-primary);
	text-decoration: none;
	filter: grayscale(100%) opacity(0.7);
	transition: var(--transition-speed);
}

.nav-link:hover{
	filter: grayscale(0%) opacity(1);
	background: #f2a365;
	color: white;
}

.link-text {
	display: none;
	margin-left: 1rem;
}

.nav-link img{
	width: 2rem;
	min-width: 2rem;
	margin: 0 1.5rem;
}

.navbar:hover{
	width: 16rem;
}

.navbar:hover .link-text{
	display: block;
}

.fa-primary{
	color: #ff7eee;
}


.fa-secondary{
	color: #00b38f;
}

.fa-primary,
.fa-secondary{
	transition: var(--transition-speed);
}


.logo{
	font-weight: bold;
	text-transform: uppercase;
	margin-bottom: 1rem;
	text-align: center;
	color: var(--text-secondary);
	background: var(--bg-primary);
	font-size: 1.5rem;
	letter-spacing: 0.3ch; 
	width: 100%;
}

.logo img{
	height: 2.5rem;
	width: 4.5rem;
	transform: rotate(0deg);
	transition: transform var(--transition-speed);
}

.navbar:hover .logo img {
	transform: rotate(-360deg);
}
/*configs barra lateral*/

#caixa{
	text-align: center;
  	width: 70%;
  	position: absolute;
	top: 5%;
	left: 10%;
  	padding: 10px;
	background-color: white;
	border-radius: 20px;

}

/* barra de pesquisa*/
#pesquisa{
	display: block;
	margin-left: 40px;
	font-size: 1em;
	background-color: #CCC;
	padding:8px;
	padding-left: 20px;
	border-radius: 20px;
	width:90%;
	height: 40px;
}

#pesquisa img{
	float: left;
	height: 30px;
	width: auto;
}

#buscar {
	width: 90%;
	float: left;
	text-align: left;
	border: none;
	font-size: 1em;
	background-color: #CCC;
	padding:8px;
	padding-left: 20px;
}
/* barra de pesquisa*/

/*filtro principal*/
#filtro_Principal {
	height: auto;
	width: 70%;
	margin: auto;
}

#filtro_Estudio, #filtro_Luthier{
	margin: 10px 1px;
	border-radius: 15px;
	background-color: black;
	height: 100px;
	width: auto;
	padding: 0 200px; 
	text-align: center;

}

#filtro_Principal p{
	padding-top: 50px;
}
/*
#filtro_Estudio, #filtro_Luthier span{
	position:absolute;                  
	bottom:0;                          
	left:0; 
}*/

#filtro_Estudio{
	background: url("../images/bg_guitar.jpg");
	background-size: 100%;
	float: left;
}

#filtro_Luthier{
	background: url("../images/bg_guitar.jpg");
	background-size: 100%;
	float: right;
}
/*filtro principal*/

/*lista*/
#listausuarios{
	text-align: left;
	margin-left: 4%;
	float: left;
	background-color: #30475e; 
	height: auto;
	width: 90%;
  	padding: 10px;
	border-radius: 20px;
	overflow: hidden;
	position: relative;
	color: black;
	margin-bottom: 20px;
}

/*img perfil*/
#imgCover{
	top: 90px;
	right: 120px;
	height: auto;
	width: 40%;
	position: relative;
}

#img{
	float: left;
	position: absolute;
	top: -9999px;
	left: -9999px;
	right: -9999px;
	bottom: -9999px;
	height: 200px;
	margin: auto;
}
/*img perfil*/

#nome{
	color: white;
	margin-left: 290px;
	float: left;
	font-size: 2em;
	display:block;
	text-align: left;
}

#nota{
	margin-top: 60px;
	float: left;
	margin-left: 290px;
	clear: left;
	display: block;
	font-size: 30px;
}

#descricao{
	color: white;
	float: left;
	display:block;
	clear: left;
	margin-left: 290px;
}

#sobre{
	border-style: none;
	background-color: #f2a365;
	float: right;
	display:block;
	color: white;
	margin: 20px 60px ;
	font-size: 40px;
	border-radius: 10px;
	padding: 10px 20px;
}
/*lista*/
