* {
padding:0;
margin:0;
border:0;
}

html {
	font-family: varela round;
	-webkit-text-size-adjust: 100%;
      -ms-text-size-adjust: 100%;
}

body{
	background-color: #30475e;
}



label{
	font-size: 1.5em;
	text-align: center;
}

select{
	font-size: 1.5em;
	background-color: #CCC;
	padding:8px;
	padding-left: 20px;
	border-radius: 12px;
	width:30%;
	margin: 20px 0;
	-moz-appearance:none; /* Firefox */
    -webkit-appearance:none; /* Safari and Chrome */
    appearance:none;
}

button{
	margin: 50px 0;
}


#voltar{
	margin-right:-40px;
	color:black;
	margin-top: 10px;
	float: left;
	text-decoration: none;
}

#titulo{
	
	padding-top: 80px;
	padding-bottom: 80px;
	text-align: center;
	color: white;
}

#caixa{
	background-color: white;
	text-align: center;
	padding: 10px;
	border-radius: 20px;
	
	margin: auto;
	width: 40%;
}

#i{
	margin-top: 20px;
	margin-bottom: 10px;
}

#tcadastro{
	
	font-weight: lighter;
	font-size: 3em;
	text-align: center;
	margin-bottom: 20px;
}

#selecao{
	text-align: center;
	text-decoration: none;
	padding: 10px 60px;
	font-size: 1.2em;
	color: white;
	background-color: #222831;
	border-radius: 10px;
	margin: 50px 0;
}


label{
	margin: 10px;
}


.invisible{
	 visibility: visible !important;
}

.visible{
	 visibility: hidden !important;
}

/* All Mobile Sizes (devices and browser) */
@media only screen and (max-width: 767px) {}

/* Mobile Landscape Size to Tablet Portrait (devices and browsers) */
@media only screen and (min-width: 480px) and (max-width: 767px) {
    /*Insert your tablet CSS in here!*/
}

/* Mobile Portrait Size to Mobile Landscape Size (devices and browsers) */
@media only screen and (max-width: 479px) {
	body{
	background: none;
	background-color: white;
	}
	
	#voltar_mobile{
	position: absolute;
	color:black;
	margin-left:20px;
	margin-top: 40px;
	float: left;
	text-decoration: none;
	}
	
	#titulo{
	
	padding-top: 30px;
	padding-bottom: 0px;
	color: black;
	
	}
	
	#tcadastro{
	padding-top:20px;
	padding-right:10px;
	font-weight: lighter;
	font-size: 2em;
	text-align: center;
	padding-bottom: 0px;
	}
	
	#caixa{
		width: 100%;
	}
	
	.invisible{
	 visibility: hidden !important;
	}
	
	.visible{
	 visibility: visible !important;
}
}