<!DOCTYPE html>
<html>
<head>
	<title>cadastro</title>
</head>
<body>
	<div style=" margin: auto; width: 20%; margin-top: 20%;">
		<a href="login.html">voltar</a>
		</br>
		</br>
		<label style="margin-right: 5px" for="perfis">tipo de perfil:</label>
		
		<select id="perfis">
			<option value="musico">Musico</option>
			<option value="luthier">Luthier</option>
			<option value="estudio">Estudio</option>
		</select>
		</br>
		</br>		
		<button><a href="cMusico.html">Continuar musico</a></button>
		<button><a href="cLuthier.html">Continuar luthier</a></button>
		<button><a href="cLuthier.html">Continuar estudio</a></button>
	</div>
</body>
</html>