<!DOCTYPE html>
<html>
<head>
	<meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
	<meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">	
	<title>cadastrar musico</title>
	<link href="https://cdn.rawgit.com/harvesthq/chosen/gh-pages/chosen.min.css" rel="stylesheet"/>
	<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.0/css/bootstrap.min.css" integrity="sha384-9aIt2nRpC12Uk9gS9baDl411NQApFmC26EwAOH8WgZl5MYYxFfc+NcPb1dKGj7Sk" crossorigin="anonymous">
	
	<link href="css/cMusico.css" rel="stylesheet" />
	<link href='https://fonts.googleapis.com/css?family=Varela+Round' rel='stylesheet'>
	
	<script src="https://ajax.googleapis.com/ajax/libs/jquery/2.1.1/jquery.min.js"></script>
	<script src="https://cdn.rawgit.com/harvesthq/chosen/gh-pages/chosen.jquery.min.js"></script>
	
</head>
<body>

	<a id="voltar_mobile" href="/maestrino-0.0.1-SNAPSHOT/cadastrar" class="visible">
		<svg width="2em" height="2em" viewBox="0 0 16 16" class="bi bi-arrow-left-circle" fill="currentColor" xmlns="http://www.w3.org/2000/svg">
				<path fill-rule="evenodd" d="M8 15A7 7 0 1 0 8 1a7 7 0 0 0 0 14zm0 1A8 8 0 1 0 8 0a8 8 0 0 0 0 16z"/>
 				<path fill-rule="evenodd" d="M8.354 11.354a.5.5 0 0 0 0-.708L5.707 8l2.647-2.646a.5.5 0 1 0-.708-.708l-3 3a.5.5 0 0 0 0 .708l3 3a.5.5 0 0 0 .708 0z"/>
 				<path fill-rule="evenodd" d="M11.5 8a.5.5 0 0 0-.5-.5H6a.5.5 0 0 0 0 1h5a.5.5 0 0 0 .5-.5z"/>
		</svg>
	</a>
	
	<form action="cadastrarMusico" method="post" enctype="multipart/form-data">
		<div id="caixa">
			<a id="voltar" href="/maestrino-0.0.1-SNAPSHOT/cadastrar" class="invisible">
				<svg width="2em" height="2em" viewBox="0 0 16 16" class="bi bi-arrow-left-circle" fill="currentColor" xmlns="http://www.w3.org/2000/svg">
			  		<path fill-rule="evenodd" d="M8 15A7 7 0 1 0 8 1a7 7 0 0 0 0 14zm0 1A8 8 0 1 0 8 0a8 8 0 0 0 0 16z"/>
			  		<path fill-rule="evenodd" d="M8.354 11.354a.5.5 0 0 0 0-.708L5.707 8l2.647-2.646a.5.5 0 1 0-.708-.708l-3 3a.5.5 0 0 0 0 .708l3 3a.5.5 0 0 0 .708 0z"/>
			  		<path fill-rule="evenodd" d="M11.5 8a.5.5 0 0 0-.5-.5H6a.5.5 0 0 0 0 1h5a.5.5 0 0 0 .5-.5z"/>
				</svg>
				<p>voltar</p>
			</a>
			<h1 id="tcadastro">Cadastrar Musico</h1>
			<ul>
				<li>
					<input type="text" name="nome" placeholder="nome" minlength="5" required="true">
 				</li>
				<li>
					<input type="email" name="email" placeholder="email" required="true">
 				</li>
				<li>
					<input type="password" name="senha" placeholder="senha" minlength="6" required="true">
				</li>
				<li>
					<select id="estilo" name="estilo" required="true" multiple class="chosen-select">
						<option value="" disabled selected>Escolher estilos musicais...</option>
						<option th:text="${estilo[0]}"></option>
						<option th:text="${estilo[1]}"></option>
						<option th:text="${estilo[2]}"></option>
						
					</select>
				</li>
				 
				<li>
					<select id="instrumentos" name="instrumentos" required="true"  multiple class="chosen-select2">
						<option value="" disabled selected>Escolher instrumentos...</option>
						<option th:text="${instrumentos[0]}"></option>
						<option th:text="${instrumentos[1]}"></option>
						<option th:text="${instrumentos[2]}"></option>
					</select>
				</li>
				 
				<li><input type="text" name="localizacao" placeholder="localizacao"></li>
				<li><input type="file" id="fotoPerfil" name="fotoPerfil"></li>
				<li><input type="text" name="linkFb" placeholder="link do facebook"></li>
				<li><input type="text" name="linkIg" placeholder="link do instagram"></li>
				<li><input type="text" name="descricao" placeholder="fale um pouco de voce..."></li>
			</ul>
			<button id="cadastrar" type="submit">Cadastrar</button>		
		</div>
	</form>
	
	
	<script type="text/javascript">
	$(".chosen-select").chosen({
		  no_results_text: "Não foram encontrados valores"
		})
	</script>
	
	<script type="text/javascript">
	$(".chosen-select2").chosen({
		  no_results_text: "Não foram encontrados valores"
		})
	</script>
	<script src="https://code.jquery.com/jquery-3.5.1.slim.min.js" integrity="sha384-DfXdz2htPH0lsSSs5nCTpuj/zy4C+OGpamoFVy38MVBnE+IbbVYUew+OrCXaRkfj" crossorigin="anonymous"></script>
	<script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.0/dist/umd/popper.min.js" integrity="sha384-Q6E9RHvbIyZFJoft+2mJbHaEWldlvI9IOYy5n3zV9zzTtmI3UksdQRVvoxMfooAo" crossorigin="anonymous"></script>
	<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.0/js/bootstrap.min.js" integrity="sha384-OgVRvuATP1z7JjHLkuOU7Xw704+h835Lr+6QL9UvYjZE3Ipu6Tp75j7Bh/kR0JKI" crossorigin="anonymous"></script>
	
</body>
</html>