<!DOCTYPE html>
<html>
<head>
	<title>cadastro musico</title>
</head>
<body>
	
	<div style=" margin: auto; width: 20%; margin-top: 20%;">
		<a href="cadastrar.html">voltar</a>
		<ul style="list-style-type: none; padding-left: 0 ">
			<style type="text/css">
				li{
					margin: 10px 0;
				}
			</style>
			<li><input type="text" name="email" placeholder="email"></li>
			<li><input type="password" name="senha" placeholder="senha"></li>
			<li>
				<select id="perfis">
					<option value="musico">Violão</option>
					<option value="luthier">Guitarra</option>
					<option value="estudio">Bateria</option>
				</select>
			</li>
			<li><input type="text" name="nome" placeholder="nome"></li>
			<li><div id="fb-root"></div>
				<script async defer crossorigin="anonymous" src="https://connect.facebook.net/en_US/sdk.js#xfbml=1&version=v6.0"></script>
				<div class="fb-login-button" data-size="large" data-button-type="continue_with" data-layout="default" data-auto-logout-link="false" data-use-continue-as="false" data-width=""></div>
			</li>
			<li><input type="file" id="myFile" name="filename"></li>
		</ul>
		<button style="font-size: 20px;">Cadastrar</button>
	</div>
</body>
</html>