<!DOCTYPE html>
<html>
<head>
	<meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
	<title>Login</title>
	<!--<link href="css/login.css" rel="stylesheet" />-->
	<link href="css/login.css" rel="stylesheet" />
	<link href='https://fonts.googleapis.com/css?family=Varela+Round' rel='stylesheet'>
</head>
<body>
	<form action="/principal" method="post">
		<div id="caixa">
				<h1>LOGIN</h1>
				<li>
					<ul>
						<input id="email" type="mail" name="email" placeholder="email">
					</ul>
					<ul>
						<input id="senha" type="password" name="senha" placeholder="senha">
					</ul>
				</li>
				<button id="login" type="submit">ENTRAR</button>
				<!--caso precisar tem uma opcao que abre direto o principal sem precisar ter nada -->
				<button id="login"><a href="/listaMusicosPrincipal" >ENTRAR S/ LOGIN</a></button>
	</form>	
				<button><a href="/cadastrar" >Cadastrar</a></button>
		</div>
	
</body>
</html>