<!DOCTYPE html>
<html>
<head>
	<title>Login</title>
</head>
<body>
	<div style="border: black 3px solid; margin: auto; width: 20%; margin-top: 20%;">
		<li style="list-style-type: none;">
			<ul>	
				<p style="float: left; margin-top: -1px; margin-right: 5px">Login:</p>
				<input type="text" name="login" placeholder="login">
			</ul>
			<ul>	
				<p style="float: left; margin-top: -1px; margin-right: 5px">Senha:</p>
				<input type="password" name="senha" placeholder="senha">
			</ul>
		</li>
	</div>
	<div  style="margin: auto; width: 20%; margin-left: 45%; margin-top: 1%">
		<button><a href="#">LOGAR</a></button>	
		</br>
		</br>
		<button><a href="cadastrar.html">Cadastrar</a></button>
	</div>
	
</body>
</html>