<!DOCTYPE html>
<html lang="en" xmlns:"http://www.thymeleaf.org/">
<head>
	<meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
	<title>Maestrino</title>
	<!--<link href="css/login.css" rel="stylesheet" />-->
	<link th:href="@{/css/perfil.css}" rel="stylesheet" />
	<link href='https://fonts.googleapis.com/css?family=Varela+Round' rel='stylesheet'>
</head>
<body>


		<p th:text="${n}"></p>


	<nav class="navbar">
			<ul class="navbar-nav">
				<li class="logo">
					<!-- testar href apnes com /principal-->
					<a href="/maestrino-0.0.1-SNAPSHOT/principal" class="nav-link">
						<span class="link-text">Maestrino</span>
						<img th:src="@{/images/arrow.png}">
					</a>
				</li>

				<li class="nav-item">
					<!--precisa receber uma verificação se tem ou nao usuario caadastrado, se tiver, tem que abrir a tela de cadastro se não, abrir a tela do perfil-->
					<a href="/maestrino-0.0.1-SNAPSHOT/perfil" class="nav-link">
						<img th:src="@{/images/arrow.png}">
						<span class="link-text">Perfil</span>
					</a>
				</li>

				<li class="nav-item">
					<!--precisa receber uma verificação se tem ou nao usuario caadastrado, se tiver, tem que abrir a tela de cadastro se não, abrir a tela do perfil-->
					<a href="/maestrino-0.0.1-SNAPSHOT/logout" class="nav-link">
						<img th:src="@{/images/arrow.png}">
						<span class="link-text">Logout</span>
					</a>
				</li>

			</ul>
	</nav>

	<main>
			
		<!-- aqui no th:each tem que passar o usuario de acordo com o botao sobre da tela principal -->
		<div id="caixa" th:each="usuario : ${usuarios}">
			<a id="voltar" href="/maestrino-0.0.1-SNAPSHOT/principal"><img id="img_voltar" th:src="@{/images/arrow.png}"/>voltar</a>
			
			<form action="editar" method="post">	
				
				<span id="nome" th:text="${usuario.nome}">teste</span>

				<!--<span id="nota" th:text="${usuario.nota}"></span>-->

				<!--<button id="Chat">Conversar</button>-->
				
				<span id="descricao" th:text="${usuario.descricao}">teste</span>

				<div id="instrumentos">
					<span>Intrumentos:</span>
					<!--  <span th:text="${usuario.instrumentos}"></span> -->
				</div>

				<div id="Disponibilidade">
					<span>Disponibilidade:</span>
				</div>

				<div id="imagem">
					<!--<img id="img" th:src="${usuario.imagem}">-->
				</div>

				<!--ver como fazer as analises-->	
				<div id="analises">
					<span>Analises:</span>
					<span></span>
				</div>

				<!--integracao maps ou url-->
				<div id="gMaps">
					<span>Mapa:</span>
				</div>
				
				<span id="facebook"><a th:href="@{/facebook.com/{linkFb}(linkFb=${usuario.linkFb})}"><img id="img_voltar" th:src="@{/images/arrow.png}"/></a></span>
				
				<span id="instagram"><a th:href="@{/instagram.com/{linkIg}(linkIg=${usuario.linkIg})}"><img id="img_voltar" th:src="@{/images/arrow.png}"/></a></span>
				
				<!-- 
				<img id="img" th:src="${usuario_especifico.img}">
				<span id="nome" th:text="${usuario_especifico.nome}"></span>-->
				<!-- nota ainda n'ao precisa -->
				<!-- <span id="nota" th:text="${usuario_especifico.nota}">Nota 5,0</span> -->
				<!--
				<span id="text" th:text="${usuario_especifico.text}"></span>
				
				<div id="mapa">
					<p id="texto_mapa">Mapa:</p>				
					<span id="url_mapa" th:text="${usuario_especifico.urlmapa}"></span>
				</div>  -->
				<!-- botão só pode aparecer se tiver o mesmo id ou algo que identifique o mesmo usuario com o do perfil logado -->
				<!-- levar para tela de cadastro com os campos preenchidos -->
				<button id="edicao" type="submit" onshow="verificaId()">EDICAO</button>
			</form>
		</div>
		
		
		
		
		
		
	</main>

	<!-- nao sei se e bom validar na tela, o ideal e verificar no back, mas em todo caso, fica aqui se precisar-->
	
	<script type="text/javascript">
		function verificaId(){
			/*if id igual ao id do perfil entao botao edicao aparece*/
			/*se o ID do usuario logado for igual ao ID do usuario do perfil, entao mostra o botao de editar perfil*/
			
		}
	</script>
	

	<!-- precisa de um javaSCRIPT pra verificar se o id do usuario logado e o mesmo do usuario do perfil, se sim, fazer aparecer um botao de edicao -->

</body>
</html>