<!DOCTYPE html>
<html>
<head>
	<meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
	<title>Maestrino</title>
	<!-- PROJETO <link href="css/login.css" rel="stylesheet" /> -->
	<!-- LOCAL <link href="../resources/static/css/login.css" rel="stylesheet" /> -->
	<link href="css/principal.css" rel="stylesheet" />
	<link href='https://fonts.googleapis.com/css?family=Varela+Round' rel='stylesheet'>
</head>
<body>

	<nav class="navbar">
			<ul class="navbar-nav">
				<li class="logo">
					<!-- testar href apnes com /principal-->
					<a href="/maestrino-0.0.1-SNAPSHOT/principal" class="nav-link">
						<span class="link-text">Maestrino</span>
						<!-- LOCAL <img src="../resources/static/images/arrow.png"> -->
						<!-- PROJETO <img src="images/arrow.png"> -->
						<img src="images/arrow.png">
					</a>
				</li>

				<li class="nav-item">
					<!--precisa receber uma verificação se tem ou nao usuario cadastrado, se tiver, tem que abrir a tela de cadastro se não, abrir a tela do perfil-->
					<a href="/maestrino-0.0.1-SNAPSHOT/perfil" class="nav-link">
						<img src="images/arrow.png">
						<span class="link-text" id="username">Temporario</span>
					</a>
				</li>

				<li class="nav-item">
					<a href="/maestrino-0.0.1-SNAPSHOT/logout" class="nav-link">
						<img src="images/arrow.png">
						<span class="link-text">Logout</span>
					</a>
				</li>
			</ul>
	</nav>

	<main>
		<div id="caixa">
			<!-- ainda tentando entender a melhor pratica pra esse campo de pesquisa-->
			
			<form action="#" method="post">
				<div id="pesquisa">
					<img src="images/lupa.png">
					<input id="buscar" type="text" name="pesquisa" placeholder="buscar" />
				</div>
			</form>
				
			<!-- deixar desativado por enquanto -->
			
			<div id="filtro_Principal">
				<div id="filtro_Estudio"><a href="/maestrino-0.0.1-SNAPSHOT/principalEstudio">Estudio</a></div>
				<div id="filtro_Luthier"><a href="/maestrino-0.0.1-SNAPSHOT/principalLuthier">Luthier</a></div>			
			</div>
			<!-- teste
			<div id ="listausuarios">
				<table>
					<thead>
					   <tr>
						<th>Id</th>
						<th>Nome</th>
					   </tr>
					</thead>
					<tbody>
						<tr th:each="usuario: ${usuarios}">
		    				<td th:text="${usuario.idmaster}" />
		   					<td th:text="${usuario.nome}" />
						</tr>
					</tbody>
				</table>
			</div>
			-->

			<!-- aqui no th:each tem que passar todos os usuarios menos musicos -->
			<div id="listausuarios" th:each="usuario : ${usuarios}">
				<!--  <form id="form" action="/maestrino-0.0.1-SNAPSHOT/perfil" method="get"> -->
	
			<!--TODO esta dando erro no como a imagem vem para a tela rever isso -->
<!-- 				<div id="imgCover"> -->
<!-- 					<img id="img" th:src="${usuario.fotoperfil}"> -->
<!-- 				</div> -->
					<span id="nome" th:text="${usuario.nome}"></span>
					
					<span id="descricao" th:text="${usuario.descricao}"></span>
					<span id="nota"></span> 
	
					<span id="idUsuario" th:value="${usuario.idmaster}"></span>
				<!--vai receber o código do perfil pra quando clicar em sobre receber ele populado na aba do perfil -->
	<!-- 				<form action="/perfilMusico" method="get"> -->
						
					<div id="sobre"><a href="/maestrino-0.0.1-SNAPSHOT/perfil?id=idmaster">Sobre</a></div>
	<!-- 					</form>				 -->
 		
			</div>
		</div>
	</main>
<!-- SCRIPT PRA PEGAR O URL ----- TEM QUE CORRIGIR AINDA-->
	<!-- 
	<script type="text/javascript">
			function perfilUrl() {
			var htmlId = document.getElementById("idUsuario").value;
			alert("valor: " + idid);
			var htmlPerfil = "perfilwww?User=" + htmlId;
			document.getElementById("form").action = htmlPerfil;  
		}
	</script> 
	 -->
	<script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.3/jquery.min.js"></script>

</body>
</html>