<!DOCTYPE html>
<html>
<head>
	<meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
	<title>Maestrino</title>
	<!-- PROJETO <link href="css/login.css" rel="stylesheet" /> -->
	<!-- LOCAL <link href="../resources/static/css/login.css" rel="stylesheet" /> -->
	<link href="css/principal.css" rel="stylesheet" />
	<link href='https://fonts.googleapis.com/css?family=Varela+Round' rel='stylesheet'>
</head>
<body>

	<nav class="navbar">
			<ul class="navbar-nav">
				<li class="logo">
					<!-- testar href apnes com /principal-->
					<a href="principal.html" class="nav-link">
						<span class="link-text">Maestrino</span>
						<!-- LOCAL <img src="../resources/static/images/arrow.png"> -->
						<!-- PROJETO <img src="images/arrow.png"> -->
						<img src="images/arrow.png">
					</a>
				</li>

				<li class="nav-item">
					<!--precisa receber uma verificação se tem ou nao usuario cadastrado, se tiver, tem que abrir a tela de cadastro se não, abrir a tela do perfil-->
					<a href="cMusico.html" class="nav-link">
						<img src="images/arrow.png">
						<span class="link-text">Musico</span>
					</a>
				</li>

				<li class="nav-item">
					<!--precisa receber uma verificação se tem ou nao usuario cadastrado, se tiver, tem que abrir a tela de cadastro se não, abrir a tela do perfil-->
					<a href="cLuthier.html" class="nav-link">
						<img src="images/arrow.png">
						<span class="link-text">Luthier</span>
					</a>
				</li>

				<li class="nav-item">
					<!--precisa receber uma verificação se tem ou nao usuario cadastrado, se tiver, tem que abrir a tela de cadastro se não, abrir a tela do perfil-->
					<a href="cEstudio.html" class="nav-link">
						<img src="images/arrow.png">
						<span class="link-text">Estudio</span>
					</a>
				</li>
			</ul>
	</nav>

	<main>
		<div id="caixa">
			<!-- ainda tentando entender a melhor pratica pra esse campo de pesquisa-->
			<!--
			<form action="pesquisar" method="post">
				<div id="pesquisa">
					<img src="images/lupa.png">
					<input id="buscar" type="text" name="pesquisa" placeholder="buscar" />
				</div>
			</form>
			-->	
			<!-- deixar desativado por enquanto -->
			<!--
			<div id="filtro_Principal">
				<div id="filtro_Estudio"><p>Estudio</p></div>
				<div id="filtro_Luthier"><p>Luthier</p></div>			
			</div>
			-->

			<!-- aqui no th:each tem que passar todos os usuarios menos musicos -->
			<div id="listaUsuarios" th:each="usuario : ${usuarios}">
				<img id="img" th:src="${usuario.img}">
				<span id="nome" th:text="${usuario.nome}"></span>
				<!-- nota ainda n'ao precisa -->
				<!--<span id="nota">Nota 5,0</span>-->
				<span id="descricao" th:text="${usuario.descricao}"></span> 
				<!--vai receber o código do perfil pra quando clicar em sobre receber ele populado na aba do perfil-->
				<!-- <form action="/perfilMusico" method="get"> -->
					<button id="sobre" type="submit"><a href="/perfilMusico">aaaaa</a></button>
				<!--  </form> -->
			</div>
		</div>
	</main>

	<script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.3/jquery.min.js"></script>

</body>
</html>